<%- include("partials/header") %>
    <h1>Welcome to Monika Land!</h1>
    <a href="/blogs">click here</a>
    <a href="/game"><img class="img-fluid" src="https://d1fs8ljxwyzba6.cloudfront.net/assets/editorial/2018/01/Doki-Doki-Literature-Club-How-to-Get-the-Fulfilling-Ending-Best-Ending-Monika.jpg"></a>
<%- include("partials/footer") %>